@media screen and (max-width: 1280px) {
  .services {
    padding-bottom: 100px;
  }
  .video__info {
    margin: 0 0 0 70px;
  }
  .case__title h3 {
    padding: 201px 0 0 55px;
  }
  .case__subtitle h4,
  .case__text p,
  .case__button {
    padding: 0 0 0 55px;
  }
  .footer__lists {
    grid-template-columns: repeat(5, 1fr);
  }
  .footer__links {
    padding: 0 0 0 17.5vw;
  }
  .projects__container h3 {
    padding: 90px 0 0 0;
  }
}
@media screen and (max-width: 1170px) {
  .info__text {
    padding: 90px 0;
  }
  .case__title h3 {
    padding: 201px 0 0 0;
  }
  .case__subtitle h4,
  .case__text p,
  .case__button {
    padding: 0;
  }
  .video {
    margin-bottom: 90px;
  }
}
@media screen and (max-width: 1139.98px) {
  .team__foto {
    justify-content: space-around;
  }
  h1 {
    padding: 221px 0 0 200px;
  }
  .perfomance__text {
    padding: 0 0 0 200px;
  }
  .connection__button {
    margin: 0 0 0 70px;
  }
}
@media screen and (max-width: 1023.98px) {
  h1 br,
  .perfomance__text br,
  .info__text br,
  .video__info br,
  .case__text p br,
  .header__search,
  .header__menu,
  .connection__icons,
  .case__white,
  .foto-office,
  .foto-living,
  .foto-empty,
  .service__text p,
  .team__foto,
  input[type="radio"],
  .list__menu,
  .connection__button button:hover,
  .service__link a:hover,
  .foto-hallway:hover,
  .foto-office:hover,
  .foto-living:hover,
  .foto-empty:hover,
  .item__foto:hover .item__audio,
  .item__foto:hover .item__regulator,
  .fotos__item:hover span,
  .connection__button button:active {
    display: none;
  }
  .header__logo {
    padding: 0;
  }
  .header__button {
    flex: 1 1 auto;
  }
  .perfomance {
    max-height: 446px;
    padding-bottom: 60px;
  }
  .perfomance__connection {
    margin: 40px 0 0 0;
  }
  .perfomance__container {
    max-width: 640px;
  }
  h1 {
    font-size: 28px;
    line-height: 34px;
    letter-spacing: 0.28px;
    padding: 106px 0 0 0;
    margin: 0 0 18px 0;
  }
  .perfomance__text {
    font-size: 14px;
    line-height: 20px;
    padding: 0;
    max-width: 450px;
  }
  .connection__button {
    margin: 0;
  }
  .connection__button button {
    font-size: 14px;
    height: 45px;
    width: 186px;
    border-radius: 22.5px;
  }
  .services {
    max-height: 716px;
    padding-bottom: 50px;
  }
  .services__container {
    max-width: 640px;
  }
  .services__container h2 {
    font-size: 28px;
    line-height: 40px;
    letter-spacing: 0.28px;
    padding: 40px 0 0 0;
    margin: 0 0 40px 0;
  }
  .services__row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .services__content {
    display: flex;
    flex-direction: column;
    max-width: 640px;
    margin: 0 10px 0 0;
  }
  .service .service__title {
    font-size: 20px;
    letter-spacing: 0.2px;
    line-height: 27px;
    padding-bottom: 10px;
  }
  .service__text {
    font-size: 14px;
    letter-spacing: 0.14px;
    line-height: 24px;
  }
  #services-mobile {
    display: block;
  }
  .service__link {
    margin: 20px 0 0 0;
    padding: 0 0 50px 0;
  }
  .service__link a {
    font-size: 16px;
    letter-spacing: 0.16px;
    line-height: 24px;
    text-decoration: underline;
  }
  .info {
    padding: 40px 0 60px 0;
  }
  .info__text {
    padding: 0;
  }
  .info__container {
    max-width: 640px;
    text-align: left;
  }
  .text__left {
    font-size: 18px;
    letter-spacing: 0.18px;
    line-height: 24px;
    margin: 0 20px 20px 0;
  }
  .text__right {
    font-size: 16px;
    letter-spacing: 0.16px;
    line-height: 22px;
  }
  .video {
    display: flex;
    flex-direction: column;
    max-width: 1600px;
    max-height: 1400px;
    margin: 0 auto;
    margin-bottom: 0;
  }
  .video__clip {
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
  }
  .video__info {
    display: flex;
    flex-direction: column;
    max-width: 640px;
    padding: 0 15px;
    margin: 0 auto;
  }
  .message__block {
    flex-direction: column;
    max-width: 640px;
  }
  .message__title {
    font-size: 20px;
    letter-spacing: 0.2px;
    line-height: 35px;
    margin: 0;
  }
  .message__text {
    font-size: 14px;
    letter-spacing: 0.14px;
    line-height: 24px;
    padding-bottom: 40px;
  }

  .case {
    max-height: 765px;
    min-height: 400px;
    background: url(/source/img/image\ 3.png) 50% 0 / 100% 400px no-repeat;
    padding-bottom: 70px;
  }
  .case__mobile {
    display: block;
  }
  .case__title h3,
  .team__content h3,
  .email__title h3,
  .projects__container h3 {
    font-size: 28px;
    letter-spacing: 0.28px;
    line-height: 40px;
  }
  .case__title h3 {
    color: #ffffff;
    padding: 330px 15px 50px 15px;
    margin: 0;
  }
  .case__container {
    padding: 0;
    text-align: center;
  }
  .case__subtitle h4 {
    font-size: 24px;
    letter-spacing: 0.24px;
    line-height: 33px;
    padding: 0 15px 10px 15px;
    margin: 0;
  }
  .case__text p {
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    color: #333333;
    font-size: 16px;
    letter-spacing: 0.16px;
    line-height: 24px;
    padding: 0 15px 0 15px;
    margin: 0;
  }
  .case__button button,
  .email__button button {
    font-size: 14px;
    height: 45px;
    width: 186px;
    background-color: #ffffff;
    border-radius: 22.5px;
    border: none;
  }
  .case__button button {
    border: 2px solid #ff9c41;
  }

  .case__button {
    padding: 30px 0 0 15px;
  }
  .case__arrow button {
    position: absolute;
    z-index: 3;
    width: 60px;
    height: 60px;
    border-radius: 30px;
    border: none;
    right: 15px;
    top: 320px;
  }

  .case__arrow button p {
    height: 100%;
    text-align: center;
    line-height: 60px;
    font-size: 30px;
    color: #333333;
    font-weight: 400;
  }
  .team {
    margin: 0;
    text-align: center;
  }
  .team__content h3 {
    max-width: 640px;
    margin: 0 auto;
    padding: 0 0 50px 0;
  }
  .team__text {
    flex-direction: column;
    max-width: 640px;
    margin: 0 auto;
    padding: 0 0 30px 0;
    align-items: center;
  }
  #left {
    font-size: 18px;
    letter-spacing: 0.18px;
    line-height: 24px;
    margin: 0 0 20px 0;
  }
  #right {
    font-size: 16px;
    letter-spacing: 0.16px;
    line-height: 22px;
  }
  .team__mobile,
  .team__radio {
    display: block;
    text-align: center;
  }
  .item__foto {
    position: relative;
    width: 100%;
    max-width: 100%;
    display: flex;
    justify-content: center;
  }
  .item__audio {
    display: block;
    position: absolute;
    bottom: 2%;
    left: 50%;
    transform: translate(-50%, 0%);
    z-index: 2;
  }
  .item__card #raymond {
    width: 320px;
    height: 310px;
  }
  .item__card {
    max-width: 320px;
  }
  .item__foto .item__player {
    position: relative;
    z-index: 2;
    right: 20px;
    top: -290px;
    text-align: right;
  }
  .item__name {
    margin-top: 10px;
  }
  .item__position {
    margin: 5px 0 20px 0;
  }
  input[type="radio"] + label span {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 0 30px 0 0;
    vertical-align: middle;
    border-radius: 50%;
    background: #ff9c41;
    opacity: 0.5;
    cursor: pointer;
  }

  input[type="radio"]:checked + label span {
    background: #ff9c41;
    opacity: 1;
  }
  .team__radio {
    padding: 0 0 40px 30px;
  }
  .email {
    min-height: 250px;
    max-height: 250px;
  }
  .email__title {
    padding: 50px 15px 0 15px;
    text-align: center;
  }
  .email__title h3 {
    color: #ffffff;
  }
  .email__item {
    flex-wrap: wrap;
    text-align: center;
    margin: 0;
    justify-content: center;
  }
  .email__send {
    border-bottom: 2px solid #ffffff;
    flex: 0 0 300px;
  }
  .email__send p {
    margin: 0 auto;
    font-size: 14px;
    padding-top: 30px;
    text-align: left;
  }
  .email__button {
    padding: 10px 0 0 10px;
    min-width: 200px;
  }
  .projects {
    margin-bottom: 0;
  }

  .projects__container h3 {
    max-width: 440px;
    color: #333333;
    margin: 0 auto;
    padding: 50px 15px 20px 15px;
  }

  .projects__fotos {
    max-width: 1600px;
    margin: 0 auto;
    padding-left: 0;
    justify-content: center;
  }
  .fotos__item span {
    font-family: "Open Sans", sans-serif;
    font-weight: 800;
    color: #333333;
    font-size: 35px;
    letter-spacing: 0.35px;
    line-height: 40px;
    display: block;
    padding: 380px 0 0 15px;
  }
  #button {
    display: block;
  }
  .fotos__item #button button {
    margin: 370px 15px 0 0;
    font-size: 25px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
  }
  .foto-house {
    background-image: url(/source/img/project\ 1.png) bottom right;
    background-repeat: no-repeat;
    height: 450px;
    display: flex;
    justify-content: space-between;
  }
  .projects__radio {
    display: flex;
    justify-content: center;
    padding: 20px 0 40px 0;
  }

  footer {
    border-top: 1px solid black;
    height: 165px;
    padding-top: 0;
  }

  .footer__container {
    display: flex;
    flex-direction: column;
    padding-top: 0;
  }
  .footer__lists {
    display: flex;
    flex-wrap: wrap;
    padding: 20px 0 15px 0;
  }
  .footer__list {
    width: 90px;
    height: 25px;
  }
  .list__title {
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 0.14px;
    margin-bottom: 24px;
    padding-top: 0;
    cursor: default;
  }
  .footer__links {
    flex-direction: row;
    align-items: center;
    flex: 1 1 auto;
    padding: 0;
    justify-content: center;
  }
  .footer__icons {
    order: 3;
  }

  .footer__icons a {
    margin: 0 25px 0 0;
    pointer-events: none;
  }

  .footer__icons a:last-child {
    margin: 0;
  }

  .footer__logo {
    margin: 0 15px 0 0;
  }

  .footer__text {
    font-size: 12px;
    letter-spacing: 0.12px;
    text-align: left;
    margin: 0 20px 0 0;
    flex: 1 1 auto;
  }
}
