@media screen and (max-width: 600px) {
  .perfomance__container,
  .services__container,
  .video__info,
  .team__content h3,
  .team__text {
    max-width: 440px;
  }
  .services__content {
    max-width: 450px;
  }
  .info__container {
    max-width: 446px;
    flex-wrap: wrap;
  }
  .text__left {
    margin: 0 0 20px 0;
  }
  .video {
    max-height: 1260px;
  }
  .message__block {
    max-width: 463px;
  }
  .case {
    background: url(/source/img/image\ 3.png) 100% 0 / auto 400px no-repeat;
    padding-bottom: 90px;
  }
  .case__container {
    padding-left: 0;
    text-align: left;
  }
  .team {
    text-align: left;
  }
  .team__content h3 {
    padding: 0 0 70px 0;
  }
  .team__text {
    align-items: flex-start;
  }
  .item__audio {
    bottom: 0%;
  }
  input[type="radio"] + label span {
    margin: 0 10px 0 0;
  }
  .team__radio {
    padding: 0 0 40px 10px;
  }
  .email {
    min-height: 317px;
    max-height: 317px;
  }
  .email__send {
    flex: 0 0 260px;
  }
  .email__button {
    padding: 40px 0 0 0;
    min-width: 446px;
  }
  footer {
    flex: 0 0 auto;
  }
  .footer__links {
    justify-content: space-around;
  }
  .footer__text {
    font-size: 12px;
    letter-spacing: 0.12px;
    text-align: left;
    margin: 0 20px 0 0;
  }
}
