/*Nulling styles*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active,
a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside,
section,
article {
  display: block;
}
html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
  font-family: inherit;
}
input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited,
a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}
img {
  vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}
/*--------------------*/
html,
body {
  font-family: "Open Sans", sans-serif;
}
.wrapper,
.header__container,
.header__button,
.menu__list,
.perfomance__connection,
.connection__icons,
.services__row,
.services__content,
.info__container,
.video__clip,
.message__block,
.team__text,
.team__foto,
.team__item,
.email__item,
.projects__fotos,
.footer__links {
  display: flex;
}
.wrapper,
.services__content,
.message__block,
.team__item,
.footer__links {
  flex-direction: column;
}
.wrapper {
  min-height: 100%;
  overflow: hidden;
}
.main,
.header__menu {
  flex: 1 1 auto;
}

header {
  margin-bottom: -82px;
  padding: 23px 0;
  height: 82px;
  position: relative;
}
.header__container {
  align-items: center;
  justify-content: left;
}
.header__search {
  flex: 0 0 260px;
  margin: auto 0;
}
.header__search img {
  padding: 1px 27px 0 0;
  margin: auto 0;
}
.header__search span {
  padding: 30px 0 0 0;
  margin: auto 0;
  font-weight: 600;
  color: black;
  font-size: 16px;
  line-height: 22px;
}

.header__logo {
  flex: 0 0 193px;
  padding: 0 10px;
  cursor: default;
}
.header__logo img {
  width: 173px;
  height: 35px;
}

.header__button {
  flex: 0 0 100px;
  justify-content: flex-end;
  padding: 2px 0 0 0;
}

.menu__list {
  justify-content: flex-end;
}
.menu__item {
  padding: 1px 0 0 50px;
}
.menu__link {
  font-weight: 600;
  color: black;
  font-size: 16px;
}

.menu__link:hover {
  border-bottom: 2px solid black;
  padding-bottom: 2px;
}

.perfomance {
  margin: 0 auto;
  padding-bottom: 113px;
  max-width: 1600px;
  max-height: 800px;
  background: url(/source/img/image\ 1.png) 0 0 / cover no-repeat;
}

h1 {
  font-weight: 800;
  color: black;
  font-size: 72px;
  line-height: 85px;
  letter-spacing: 0.68px;
  padding: 221px 0 0 270px;
  margin: 0 0 50px 0;
}

h1 span {
  color: #ff9c41;
}

.perfomance__text {
  font-weight: 600;
  color: black;
  font-size: 16px;
  line-height: 24px;
  padding: 0 0 0 270px;
}

.perfomance__connection {
  margin: 119px 0 0 0;
}

.connection__icons {
  margin: auto 0;
}
.connection__icons a {
  margin: 0 30px 0 0;
}

.social-icon {
  fill: #333;
}
.social-icon:hover {
  fill: #ff9c41;
}
.connection__button {
  margin: 0 0 0 140px;
}
.connection__button button {
  font-weight: 700;
  color: #ffffff;
  font-size: 16px;
  height: 55px;
  width: 230px;
  background-color: #ff9c41;
  border-radius: 27.5px;
  border: none;
}

.connection__button button:hover {
  background-color: #000000;
}

.connection__button button:active {
  background-color: #ffffff;
  color: #000000;
  border: 1px solid black;
}

.services {
  margin: 0 auto;
  max-width: 1600px;
  max-height: 805px;
  padding-bottom: 155px;
  background: url(/source/img/image\ 2.png) 0 0 / cover no-repeat;
}

.services__container h2 {
  font-weight: 800;
  color: #ffffff;
  font-size: 70px;
  letter-spacing: 0.75px;
  padding-top: 143px;
  margin-bottom: 86px;
}

.services__content {
  max-width: 240px;
  margin-right: 138px;
}

.service .service__title {
  font-weight: 800;
  color: #ffffff;
  font-size: 34px;
  letter-spacing: 0.34px;
  line-height: 40px;
  padding-bottom: 32px;
}
.service__text {
  flex: 1 1 auto;
  font-weight: 400;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 0.16px;
  line-height: 24px;
}
#services-mobile {
  display: none;
}
.service__link {
  padding-top: 53px;
}
.service__link a {
  font-weight: 700;
  color: #ffffff;
  font-size: 20px;
  letter-spacing: 0.2px;
}

.service__link a:hover {
  border-bottom: 1px solid #ff9c41;
  border-spacing: 0 -10px;
  color: #ff9c41;
}

.info__text {
  padding: 189px 0;
}

.text__left {
  font-weight: 800;
  color: #333333;
  font-size: 24px;
  letter-spacing: 0.26px;
  line-height: 35px;
  margin: 0 87px 0 0;
}
.text__right {
  font-weight: 400;
  color: #676767;
  font-size: 18px;
  letter-spacing: 0.18px;
  line-height: 26px;
}
.video {
  display: grid;
  grid-template-columns: 49.0625% 50.9375%;
  max-width: 1600px;
  max-height: 683px;
  margin: 0 auto;
  margin-bottom: 180px;
}
.video__clip {
  justify-content: center;
  align-items: center;
}
.clip__item {
  width: 100%;
}

.video__info {
  display: grid;
  grid-template-rows: 263.6px 214.6px 204.8px;
  margin: 0 0 0 130px;
}

.message__title {
  font-weight: 800;
  color: #333333;
  font-size: 24px;
  letter-spacing: 0.24px;
  line-height: 36px;
  margin: 0 0 15px 0;
}
.message__text {
  font-weight: 400;
  color: #676767;
  font-size: 16px;
  letter-spacing: 0.16px;
  line-height: 26px;
}

.case {
  margin: 0 auto;
  max-width: 1600px;
  min-height: 804px;
  background: url(/source/img/image\ 3.png) 0 0 / cover no-repeat;
  position: relative;
}

.case__mobile {
  display: none;
}

.case__arrow button {
  position: absolute;
  z-index: 3;
  width: 60px;
  height: 60px;
  border-radius: 30px;
  border: none;
  right: -30px;
  top: 704px;
}

.case__arrow button p {
  height: 100%;
  text-align: center;
  line-height: 60px;
  font-size: 30px;
  color: #333333;
  font-weight: 400;
}

.case__white {
  width: 49.1%;
  height: 804px;
  background-color: rgba(255, 255, 255, 0.7);
  position: relative;
}
.case__pipeline {
  position: absolute;
  right: 0;
}

.case__title h3,
.team__content h3,
.email__title h3,
.projects__container h3 {
  font-weight: 800;
  font-size: 45px;
  letter-spacing: 0.45px;
  line-height: 40px;
}

.case__title h3 {
  color: #333333;
  padding: 201px 0 0 200px;
  margin: 0 0 90px 0;
}

.case__subtitle h4 {
  font-weight: 800;
  color: #333333;
  font-size: 24px;
  letter-spacing: 0.24px;
  line-height: 33px;
  padding: 0 0 0 200px;
  margin: 0 0 24px 0;
}
.case__text p {
  font-weight: 600;
  color: #333333;
  font-size: 16px;
  letter-spacing: 0.16px;
  line-height: 24px;
  padding: 0 0 0 200px;
  margin: 0 0 89px 0;
}

.case__button button,
.email__button button {
  font-weight: 700;
  color: #ff9c41;
  font-size: 16px;
  height: 55px;
  width: 230px;
  background-color: #ffffff;
  border-radius: 27.5px;
  border: none;
}
.case__button {
  padding: 0 0 0 200px;
}

.team {
  margin-bottom: 60px;
}
.team__content h3 {
  color: #333333;
  margin: 151px 0 70px 0;
}
.team__text {
  margin: 0 0 90px 0;
}
#left {
  font-weight: 800;
  color: #333333;
  font-size: 24px;
  letter-spacing: 0.24px;
  line-height: 35px;
  max-width: 520px;
  margin-right: 80px;
}
#right {
  font-weight: 400;
  color: #676767;
  font-size: 18px;
  letter-spacing: 0.18px;
  line-height: 26px;
  max-width: 478px;
}

.team__foto {
  flex-wrap: wrap;
  justify-content: space-between;
}

.team__item {
  position: relative;
}

.item__foto {
  width: 370px;
  height: 360px;
}

audio {
  height: 30px;
}

.item__audio,
.item__regulator,
.projects__radio,
#button {
  display: none;
}

#doris .item__regulator {
  display: block;
  position: absolute;
  z-index: 2;
  right: 30px;
  top: 191px;
}

.item__foto:hover .item__audio {
  display: block;
  position: absolute;
  top: 325px;
  left: 5px;
  z-index: 2;
}

.item__foto .item__player {
  position: absolute;
  right: 20px;
  top: 20px;
}

.item__foto:hover .item__regulator {
  display: block;
  position: absolute;
  z-index: 2;
  right: 30px;
  top: 191px;
}

.item__player button,
.item__volume button,
.item__speaker button {
  background-color: rgba(0, 0, 0, 0);
}

.item__speaker {
  padding-top: 9.5px;
}

.item__name {
  font-weight: 800;
  color: #333333;
  font-size: 24px;
  letter-spacing: 0.24px;
  line-height: 35px;
  margin-top: 19px;
}
.item__position {
  font-weight: 400;
  color: #333333;
  font-size: 16px;
  letter-spacing: 0.16px;
  line-height: 35px;
  margin: 0 0 63px 0;
}
.team__mobile {
  display: none;
}
.email {
  margin: 0 auto;
  max-width: 1600px;
  min-height: 535px;
  background: url(/source/img/image\ 4.png) 0 0 / cover no-repeat;
}
.email__title {
  padding: 148px 0 0 185px;
}
.email__title h3 {
  color: #ffffff;
}
.email__item {
  margin: 79px 0 0 185px;
}
.email__send {
  flex: 0 0 500px;
  height: 55px;
  border-bottom: 2px solid #ffffff;
}
.email__send p {
  margin: 0 auto;
  font-weight: 400;
  color: #ffffff;
  font-size: 18px;
  line-height: 24px;
  padding-top: 19px;
}
.email__button {
  padding: 0 0 0 70px;
}

.case__button button {
  border: 2px solid #ff9c41;
}

.email__button button:hover,
.case__button button:hover {
  background-color: #fff5eb;
}
.projects {
  margin-bottom: 160px;
}

.projects__container h3 {
  color: #333333;
  margin: 30px 0 101px 0;
  padding: 130px 0 0 0;
}

.projects__fotos {
  max-width: 1600px;
  margin: 0 auto;
  justify-content: flex-end;
  padding-left: 0;
}
.fotos__item span {
  font-weight: 800;
  color: #ffffff;
  font-size: 35px;
  letter-spacing: 0.35px;
  line-height: 40px;
  display: none;
}
.foto-house {
  background-image: url(/source/img/project\ 1.png);
}
.foto-office {
  background-image: url(/source/img/project\ 2.png);
}
.foto-living {
  background-image: url(/source/img/project\ 3.png);
}
.foto-empty {
  background-image: url(/source/img/project\ 4.png);
}
.foto-house,
.foto-office,
.foto-living {
  width: 419px;
  height: 745px;
}
.foto-empty {
  width: 128px;
  height: 745px;
}
.fotos__item:hover span {
  display: block;
  padding: 652px 0 0 50px;
}
.foto-house:hover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(/source/img/project\ 1.png);
  cursor: pointer;
}
.foto-office:hover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(/source/img/project\ 2.png);
  cursor: pointer;
}
.foto-living:hover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(/source/img/project\ 3.png);
  cursor: pointer;
}
.foto-empty:hover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(/source/img/project\ 4.png);
  cursor: pointer;
}
.team__radio {
  display: none;
}

footer {
  border-top: 1px solid black;
  flex: 0 0 auto;
  height: 312px;
  padding-top: 50px;
}

.footer__container {
  display: grid;
  grid-template-columns: 65% 35%;
}
.footer__lists {
  display: grid;
  grid-template-columns: 19.9% 22.3% 22.1% 17.9% 17.8%;
}

.list__title {
  font-weight: 800;
  color: #333333;
  font-size: 16px;
  letter-spacing: 0.16px;
  margin-bottom: 21px;
  padding-top: 3px;
  cursor: default;
}

.list__link {
  font-weight: 400;
  color: #333333;
  font-size: 14px;
  letter-spacing: 0.14px;
  cursor: default;
  pointer-events: none;
}
.list__item {
  margin-bottom: 20px;
}

.footer__links {
  flex-wrap: nowrap;
  align-items: flex-start;
  flex: 1 1 auto;
  padding-left: 286px;
}

.footer__icons a {
  margin: 0 26px 0 0;
}

.footer__icons a:last-child {
  margin: 0;
}

.footer__logo {
  margin-top: 76px;
}

.footer__text {
  font-weight: 400;
  color: #333333;
  font-size: 14px;
  letter-spacing: 0.11px;
  line-height: 24px;
  text-align: left;
  margin-top: 18px;
}

[class*="__container"] {
  max-width: 1200px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}
